<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBbZToxY2jDQ_Gu5gRK79KCHExEAQ5gY_8</string>
	<key>GCM_SENDER_ID</key>
	<string>184553814975</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.talkTryst.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>talk-tryst</string>
	<key>STORAGE_BUCKET</key>
	<string>talk-tryst.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:184553814975:ios:27b16b3088be5b69e5bf0a</string>
</dict>
</plist>